<%= stylesheet_link_tag "form" %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  <div class="  row col-12">
    <h1> Sign Up</h1>
    <div class="icon">
      <i class="fas fa-user-circle"></i>
    </div>
    <div class="formcontainer">
      <%= form_for @user do |f|%>
        <%= render 'shared/errors', object: f.object %>
        <label for="uname"><strong>Username</strong></label>
        <%= f.text_field :name, :class => 'text' %>
        <label for="mail"><strong>E-mail</strong></label>
        <%= f.text_field :email, :class => 'text' %>
        <%= f.submit 'Submit', :class => 'button' %>
      <% end %>
    </div>
</div>